.additional-fieldset__subtitle {
  margin-bottom: 31px;
}

//.additional-fieldset {
//  padding-bottom: 31px;
//}

.additional-fieldset__list {
  @include resetting-styles-list;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 221px);
    row-gap: 30px;
    column-gap: 122px;
    padding: 65px 0 24px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 80px;
    padding: 65px 0 0;
  }
}

.additional-fieldset__list-item {
  margin: 0 0 10px;

  :last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
