.advantage-card {
  display: flex;
  justify-content: flex-start;
  align-content: center;

  @media (min-width: $tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.advantage-card__icon {
  width: 30px;
  height: 32px;
  background-color: $basic-green;
  padding: 14px 15px;

  @media (min-width: $tablet-width) {
    padding: 24px 25px;
  }
}

.advantage-card__img-wrapper {
  margin: 0;
}

.advantage-card__description {
  margin: 0;
  padding-left: 20px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 31px 0 51px 0;
    grid-column: 1 / 2;
    min-width: 248px;
    z-index: 3;

    br {
      display: block;
    }
  }
}

.advantage-card__icon-number-group {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    grid-area: number;
  }
}

.advantage-card__icon-number {
  width: 112px;
  height: 226px;
}
