.advertisement-section {
  font-family: "Oswald", "Arial", sans-serif;
  background-image: linear-gradient(rgba(106, 171, 63, 0.8), rgba(106, 171, 63, 0.8)), url("../../img/index-background-mobile.jpg");
  background-size: auto 302px;
  background-position-x: 60%;
  background-repeat: no-repeat;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(106, 171, 63, 0.8), rgba(106, 171, 63, 0.8)), url("../../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: 320px) and (max-width: 767px) {
    background-position-x: 50%;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(rgba(106, 171, 63, 0.8), rgba(106, 171, 63, 0.8)), url("../../img/index-background-desktop.jpg");
    background-size: 50% 694px;
    background-position-x: right;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(106, 171, 63, 0.8), rgba(106, 171, 63, 0.8)), url("../../img/index-background-desktop@2x.jpg");
    }
  }
}

.advertisement-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    position: relative;
    min-height: 810px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    min-height: 694px;
  }
}

.advertisement-section__content {
  @media (min-width: $tablet-width) {
    z-index: 3;
    padding: 0 0 0 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 223px 0 0 190px;
  }
}

.advertisement-section__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-white;
  text-align: center;
  margin: 0;
  padding: 27px 15px 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: start;
    max-width: 414px;
    padding: 0 40px 40px 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.advertisement-section__slogan {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $basic-white;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: start;
    padding: 0 40px 49px 0;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: -0.9px;
    padding: 0 0 52px;
  }
}

.advertisement-section__action {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: $basic-white;
  background-color: $basic-green;
  width: 280px;
  padding: 11px 44px;

  @media (max-width: 767px) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    max-width: 245px;
    padding: 17px 26px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 12px;
    margin-left: 0;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.advertisement-section__image-group {
  display: flex;
  justify-content: center;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 7%;
    left: 58%;
    transform: translateX(-50%);
  }
}
