.button {
  font-family: "Oswald", "Arial", sans-serif;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: none;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 16px 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    padding: 17px 30px;
  }
}

.button_primary {
  color: $basic-white;
  background-color: $basic-green;

  &:hover {
    background-color: $deep-green;
  }

  &:active {
    background-color: $deep-green;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button_secondary {
  background-color: $basic-grey;
  color: $basic-black;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}
