.button {
  font-family: "Oswald", "Arial", sans-serif;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 16px 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    padding: 17px 30px;
  }

  &_primary {
    color: $basic-white;
    background-color: $basic-green;
  }

  &_secondary {
    background-color: $basic-grey;
    color: $basic-black;
  }
}
