.catalog-main {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog-main__title {
  padding: 27px 10px 40px 20px;
}

.catalog-main__container {
  @media (min-width: $tablet-width) {
    padding: 0 20px;
    max-width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
    max-width: 1220px;
  }
}

.catalog-main__section {
  @media (min-width: $tablet-width) {
    padding: 40px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0 0;
  }
}

.catalog-main__subtitle {
  margin: 25px 0 32px 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 80px;
  }
}

.catalog-main__special-offer-wrapper {
  padding: 40px 20px 35px;

  @media (min-width: $tablet-width) {
    padding: 0 0 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog-main__additional-goods-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    column-gap: 80px;
    grid-template-columns: 1fr 245px;
    margin-bottom: 86px;
  }
}
