.catalog-main {
  @include font-family-arial;
  @include font-settings(12px, 16px);
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    @include font-settings(16px, 16px);
  }
}

.catalog-main__section {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.catalog-main__title {
  @include font-family-oswald;
  @include font-settings(24px, 24px);
}

.catalog-main__special-offer-wrapper {
  padding: 43px 0 35px;
}

.catalog-main__products-card-container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
