.diet-totals-indicators-list {
  display: grid;
  column-gap: 33px;
  row-gap: 34px;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    column-gap: 40px;
    grid-template-columns: repeat(2, max-content) 1fr;
  }

  @media (min-width: $desktop-width) {
    row-gap: 45px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.diet-totals-indicators-list__group-values {
  box-sizing: border-box;
  padding: 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
    grid-column: -2 / -1;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
}

.diet-totals-indicators-list__value {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.diet-totals-indicators-list__definition,
.diet-totals-indicators-list__term {
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
