.diet-indicators-item {
  text-align: center;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    grid-column: 3 / -1;
    justify-self: end;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    grid-column: 1 / -1;
    justify-self: start;
  }
}

.diet-indicators-item__definition,
.diet-indicators-item__term {
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    padding: 0;
  }
}

.diet-indicators-item__term {
  @media (min-width: $desktop-width) {
    margin-left: 63px;
  }
}
