.example-section__content {
  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
    box-sizing: border-box;
    min-height: 462px;
    padding: 74px 0 30px;
  }
}

.example-section__title-wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.example-section__title {
  padding: 0 0 33px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 63px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 74px;
    margin: 0 90px;
  }
}
