.example-section__range-content {
  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
    padding: 70px 0 54px;
  }
}

.example-section__title {
  padding: 0 0 33px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 76px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px 80px;
    margin: 0 90px;
  }
}
