.example-section__title {
  margin: 0;
  padding: 27px 0 33px;
}

.example-section__lead {
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    @include font-settings(16px, 24px);
    margin: 0 0 54px;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    margin: 0 0 69px;
  }
}

.example-section__description-list {
  margin-bottom: 42px;
}

.example-section__description-definition {
  @include font-settings(24px, 24px);
  margin: 0;
}

.example-section__description-term {
  @include font-settings(12px, 12px);

  @media (min-width: $desktop-width) {
    @include font-settings(14px, 14px);
  }
}

.example-section__description-term-inline,
.example-section__description-definition-inline {
  @include font-settings(14px, 20px);
  text-transform: uppercase;
  display: inline-flex;

  @media (min-width: $desktop-width) {
    @include font-settings(20px, 20px);
  }
}

.example-section___range {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 100%;
    background-color: $basic-grey;
  }
}
