.form-field {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.form-field__label {
  text-transform: uppercase;
}

.form-field__input-container {
  margin-left: 10px;
  grid-column: 2 / - 1;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 17px;
  }
}

.form-field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.form-field__icon_email {
  width: 20px;
  height: 14px;
  fill: none;
  stroke: #222222;


  @media (min-width: $tablet-width) {
    width: 18px;
    height: 13px;
  }
}

.form-field__icon_phone {
  width: 17px;
  height: 20px;
  fill: $basic-black;
}

.form-field__input {
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: 1px solid $basic-grey;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 13px 48px 13px 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding: 14px 48px 17px 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29px;
    padding: 10px 21px;
  }

  &:hover {
    outline: 1px solid $border-input-hover;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 1px solid $border-input-error;
  }

  &:invalid:not(:placeholder-shown) ~ .form-field__icon_email {
    stroke: $border-input-error;
  }

  &:invalid:not(:placeholder-shown) ~ .form-field__icon_phone {
    fill: $border-input-error;
  }

  &:focus,
  &:focus-visible,
  &:focus-within,
  &:active {
    outline: 1px solid $border-input-focus;
  }

  &:focus ~ .form-field__icon_email {
    stroke: $basic-green;
  }

  &:focus ~ .form-field__icon_phone {
    fill: $basic-green;
  }
}

.form-field__input-check {
  grid-column: 1 / 2;
  cursor: pointer;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-field__label-check {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.form-field__pseudo-check-input {
  display: block;
  width: 30px;
  height: 30px;
  background-color: $basic-white;
  border: 1px solid #cdcdcd;
  position: relative;
  margin: 0 14px 0 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 17px 0 0;
  }
}

.form-field__label-check:hover > .form-field__pseudo-check-input {
  border: 1px solid #bababa;
}

.form-field__input-check:disabled + .form-field__label-check {
  opacity: 0.3;
}

.form-field__input-check:checked + .form-field__label-check > .form-field__pseudo-check-input {
  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: url("/img/input-check.svg");
  }
}
