.form-field {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.form-field__label {
  text-transform: uppercase;
}

//TODO перенести

.input-radio .form-field__label:disabled,
.input-check .form-field__label {
  opacity: 0.2;
}

.form-field__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  border: 1px solid $basic-grey;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-left: 14px;
  padding: 14px 14px;
  grid-column: 2 / - 1;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29px;
    padding: 10px 21px;
  }

  &:hover {
    border: 1px solid $border-input-hover;
  }

  &:focus {
    border: 1px solid $border-input-focus;
  }

  &:active {
    border: 1px solid $border-input-focus;
  }
  //
  //&:required:invalid {
  //  border: 1px solid $border-input-error;
  //}
}

.form-field__input-check {
  margin: 0 15px 0 0;
}

.form-field__textarea {
  box-sizing: border-box;
  resize: none;
  overflow: auto;
  width: 100%;
  min-height: 151px;
  border: 1px solid $basic-grey;
  font-family: inherit;
  color: inherit;

  @media (min-width: $tablet-width) {
    margin-top: 76px;
  }

  @media (min-width: $desktop-width) {
    min-height: 169px;
    margin-top: 70px;
    margin-bottom: 11px;
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: $special-dark-grey;
    text-transform: uppercase;
    padding: 10px 12px 0 15px;

    @media (min-width: $desktop-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
