.form {
  color: $special-dark-grey;
}

.form__group-fieldsets {
  @media (min-width: $tablet-width) {
    margin: 0 0 34px 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1220px;
    column-gap: 82px;
    margin: 0 auto 70px;
  }
}

.form__group-fieldsets .form__fieldset {
  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.form__fieldset {
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 24px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 70px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 0 60px;
  }
}

.form__fieldset-wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 88px;
    border-top: 1px solid green;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__field {
  margin: 0 0 13px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
  }
}

.form__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: start;
  width: 100%;
  padding: 0;
  margin: 0 0 34px;

  @media (max-width: 767px) {
    &::after {
      content: "";
      height: 2px;
      background: $basic-green;
      margin-left: 25px;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0;

    br {
      display: none;
    }
  }
}

.form__subtitle-wrapper {
  padding: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    position: absolute;
    top: -25px;
    padding: 0 40px;
    left: 28px;
  }

  @media (min-width: $desktop-width) {
    left: -44px;
  }
}

.form__button-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 630px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    justify-content: flex-start;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 282px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 80px 0 0;
    max-width: 568px;
  }
}

.form__reminder-text {
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.form__contacts-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
