.initial-data-list {
  @include resetting-styles-list;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 0 72px 0;
  }
}

.initial-data-list__item {
  margin: 0 0 11px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 21px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 20px;
  }
}
