.input-check {
  grid-column: 1 / 2;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.input-check__label {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.input-check__pseudo-input {
  display: block;
  width: 30px;
  height: 30px;
  background-color: $basic-white;
  border: 1px solid #cdcdcd;
  position: relative;
  margin: 0 14px 0 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.input-check__label:hover > .input-check__pseudo-input {
  border: 1px solid #bababa;
}

.input-check:disabled + .input-check__label {
  opacity: 0.3;
}

.input-check:checked + .input-check__label > .input-check__pseudo-input {
  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: url("../../img/input-check.svg");
  }
}
