.main-navigation__toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

//TODO после завершения стилизации в header добавить амперсанд

.main-navigation_closed {
  @media (max-width: 767px) {
    display: none;
  }
}

.main-navigation_theme_dark .main-navigation__item-content {
  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.main-navigation_theme_dark .main-navigation__item-content:hover {
  @media (min-width: $desktop-width) {
    color: rgba(255, 255, 255, 0.6);
  }
}

.main-navigation_theme_dark .main-navigation__item-content:active {
  @media (min-width: $desktop-width) {
    color: rgba(255, 255, 255, 0.6);
  }
}

.main-navigation_theme_dark .main-navigation__item-content_active {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic-white;
  }
}

.main-navigation_theme_dark .main-navigation__item-content_active:hover {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  }
}

.main-navigation_theme_light .main-navigation__item-content {
  @media (min-width: $desktop-width) {
    color: $basic-black;
  }
}

.main-navigation_theme_light .main-navigation__item-content:hover {
  color: rgba(0, 0, 0, 0.7);
}

.main-navigation_theme_light .main-navigation__item-content:active {
  color: rgba(0, 0, 0, 0.4);
}

.main-navigation_theme_light .main-navigation__item-content_active:hover {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  }
}

.main-navigation_theme_light .main-navigation__item-content_active:active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.main-navigation__list {
  @include resetting-styles-list;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.main-navigation__item {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 34px;
    z-index: 3;
  }
}

.main-navigation__item-content {
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 22px 0 24px;
  border-top: 1px solid $border-mobile-menu;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: 13px 0 9px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    border: none;
    padding: 6px 0;
  }

  &:last-child {
    @media (max-width: 767px) {
      border-bottom: none;
    }
  }

  &_active {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $basic-green;
    }
  }
}

//Мобильное меню
.main-navigation__button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 22px;
  right: 13px;
  cursor: pointer;
  z-index: 3;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__icon-menu,
.main-navigation__icon-cross {
  display: none;
  width: 18px;
  height: 18px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__button_closed .main-navigation__icon-menu,
.main-navigation__button_opened .main-navigation__icon-cross {
  display: block;
}

.main-navigation__button_opened .main-nav__icon-menu,
.main-navigation__button_closed .main-nav__icon-cross {
  display: none;
}
