.map {
  position: relative;
}

.map__iframe {
  position: absolute;
  z-index: 2;
  width: 100%;
  border: none;
  min-height: 367px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.map__img-group {
  top: 0;
  left: 0;
  z-index: 1;
  position: relative;
  margin: 0;
  display: block;
  min-height: 367px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map__img {
  width: 100%;
  max-height: 400px;
}

.map__contacts-block {
  min-height: 114px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 19px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 201px;
    padding: 10px 72px 10px 70px;

    .map__contacts-block__city {
      display: block;
      margin-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 204px);
    position: absolute;
    z-index: 4;
    background-color: $basic-white;
    top: 50%;
    transform: translateY(-50%);
    left: 110px;
    padding: 46px 88px 53px 76px;
  }
}

.map__contacts-block_theme_light {
  background-color: $basic-white;
}

.map__contacts-block_theme_grey {
  @media (max-width: 1439px) {
    background-color: $basic-grey;
  }
}

.map__contacts-block__link-address {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
  text-decoration: none;
  color: inherit;
  text-align: start;

  @media (min-width: $tablet-width) {
    max-width: 159px;
    justify-self: end;
    font-size: 16px;
    line-height: 18px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.map__contacts-block__lead {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    align-self: center;
    justify-self: stretch;
    font-size: 20px;
    line-height: 24px;
    width: 171px;
  }
}
