.map__contacts {
  padding: 28px 20px;
  display: flex;
  justify-content: space-between;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    height: 201px;
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    box-sizing: border-box;
    width: 570px;
    position: absolute;
    z-index: 2;
    background-color: $basic-white;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
  }
}

.map__lead {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 171px;
  }
}

.map__link-address {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  text-align: start;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
    text-align: end;
  }
}

.map__photo-wrapper {
  margin: 0;
}

.map__photo {
  display: block;
  width: 100%;
}
