.page-header {
  @media (max-width: 767px) {
    border-bottom: 1px solid $border-grey;
  }
}

.page-header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0 0 0;
    margin: 0 30px 63px;
  }
}

.page-header__container_position_absolute {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 55px 0 10px;
    width: 1230px;
    position: absolute;
    margin: 0;
    left: 7%;
  }
}

.page-header__logos-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 190px;
  margin: 0;
  padding: 15px 70px 12px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 220px;
  }
}

.page-header__logo {
  display: block;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.page-header__logo-text {
  display: block;
  width: 101px;
  height: 18px;

  @media (min-width: $desktop-width) {
    width: 126px;
    height: 26px;
    padding: 0;
  }
}

.page-header__logo-img {
  display: block;
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 60px;
  }
}
