.page-main__title {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__advertisement-section {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 84px;
  }
}

.page-main__programs-section {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.page-main__advantages-section {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.page-main__example-section {
  background-color: $basic-grey;
  padding: 27px 20px 37px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    padding: 43px 0 0;
    border-top: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding: 0;
    margin: 0;
    max-height: 656px;
  }
}

.page-main__map-section {
  width: 100%;
  position: relative;
}
