.page-main__title {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__advertisement-section {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  //TODO что можно сделать вместо этой конструкции

  @media (min-width: $desktop-width) {
    margin: 0 0 90px 100px;
    padding: 0 0 0 90px;
  }
}

.page-main__programs-section {
  margin-bottom: 27px;
}

.page-main__advantages-section {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.page-main__example-section {
  background-color: $basic-grey;
  padding: 27px 20px 25px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    padding: 43px 0 0;
    border-top: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin: 0;
  }
}
