.page-footer {
  background-color: $basic-grey;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    min-height: 150px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
    max-width: 1230px;
    margin: 0 auto;
  }
}

.page-footer__logo-wrapper {
  align-self: center;
  padding: 32px 0 28px;

  @media (min-width: $tablet-width) {
    justify-self: start;
    padding: 0;
  }
}

.page-footer__logo-image {
  width: 128px;
  height: 24px;
}

.page-footer__social {
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    justify-self: center;
    border: none;
  }
}

.page-footer__map-container {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__copyright {
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-self: end;
  }
}
