.page-header {
  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.page-header__logo {
  display: block;
  width: 34px;
  height: 38px;
}

.page-header__logo-text {
  display: block;
  width: 101px;
  height: 18px;
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 190px;
  margin: 0;
  padding: 12px 70px 17px 20px;
}

