.page-form {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }
}

.page-form__lead-section {
  padding: 27px 20px 0;
  margin: 0 0 26px;

  @media (min-width: $tablet-width) {
    max-width: 630px;
    padding: 0;
    margin: 0 auto 56px;
  }

  @media (min-width: $desktop-width) {
    margin: 29px auto 56px;
    max-width: 1220px;
  }
}

.page-form__main-section {
  margin: 0 0 34px;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 78px;
  }
}

.page-form__title {
  padding: 0 0 38px;

  @media (min-width: $tablet-width) {
    padding: 0 0 54px;
  }
}

.page-form__lead-text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
  text-align: start;
  max-width: 226px;
  padding: 0 0 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 323px;
  }
}

.page-form__map-section {
  width: 100%;
}
