.page {
  height: 100%;
  font-size: 14px;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 18px;
}

.page__body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: $basic-white;
  color: $special-dark-grey;
  position: relative;
}

.page__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 27px 0 37px 20px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.page__subtitle_decorated_with-lines {
  display: flex;
  align-items: center;
  text-align: start;
  width: 100%;

  &::after {
    content: "";
    height: 2px;
    background: $basic-green;
    margin-left: 25px;
    flex-grow: 1;
    flex-shrink: 0;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      height: 2px;
      background: $basic-green;
      margin-right: 39px;
      width: 30px;
    }

    @media (min-width: $desktop-width) {
      max-width: 70px;
    }
  }
}

.page__container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}
