.products-cards-list {
  @include resetting-styles-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1220px;
    column-gap: 80px;
  }
}

.products-cards-list__item {
  padding: 18px 20px;
  border-top: 1px solid $border-grey;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.products-cards-list__item:last-child {
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
