.product-full-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image-content title"
    "image-content description"
    "button button";

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background: linear-gradient(0deg, $basic-grey 84%, rgba(0, 0, 0, 0) 20%);
    padding: 0 38px 40px;
    box-sizing: border-box;
    height: 511px;
  }
}

.product-full-card-link {
  grid-area: image-content;
  grid-row: 1 / 3;
  align-self: end;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    align-self: center;
    padding: 0;
  }
}

.product-full-card__img-wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.product-full-card__img-group {
  align-self: center;
}

.product-full-card__action {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $color-mine-shaft;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 14px;
  max-width: 76px;
  grid-area: title;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 34px 0 21px;
    font-size: 20px;
    line-height: 24px;
    max-width: 155px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 38px 0 22px;
  }
}

.product-full-card__description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0 0 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
    margin: 0 0 33px;
  }
}

.product-full-card__group-terms {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $border-table;
    max-width: 250px;
    padding: 8px 0 7px;

    &:first-child {
      padding: 0 0 5px;
    }
  }
}

.product-full-card__button {
  font-size: 16px;
  line-height: 20px;
  grid-area: button;
  padding: 10px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
