.products-brief-cards-list {
  @include resetting-styles-list;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 94px 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.products-brief-cards-list__item {
  padding: 13px 0 17px;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    border-bottom: none;
    padding: 26px 37px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-top: 1px solid #cdcdcd;
    padding: 15px 0 17px;
  }

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}
