.products-brief-cards-list {
  @include resetting-styles-list;
  padding: 0 20px;
}

.products-brief-cards-list__item {
  padding: 13px 0 19px;
  border-top: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    border: 1px solid $basic-grey;
    padding: 26px 20px 28px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-top: 1px solid $basic-grey;
    padding: 15px 20px 17px;
  }

  &:last-child {
    border-bottom: 1px solid $basic-grey;
  }
}
