.programs-section__card-container {
  margin-bottom: 20px;
}

.programs-section {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}
