.range-demo-example__container {
  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    background-color: initial;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
  }
}

.range-demo-example__image-wrapper {
  text-align: center;
  margin: 0 0 23px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.range-demo-example__slider-wrapper {
  width: 228px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 579px;
  }
}
