.range-demo-slider {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.range-demo-slider__text {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  position: relative;
  border-bottom: 1px dotted #b8b8b8;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    text-decoration: dotted;
  }

  &:hover {
    border-bottom: 1px solid #b8b8b8;
  }

  &:active {
    border-bottom: none;
  }
}
