.show-more-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    box-sizing: content-box;
    padding: 52px 22px 38px;
    border: 1px solid $basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 37px 40px;
    border: 1px solid $basic-grey;
  }
}

//.show-more-card__plus-icon {
//  position: relative;
//  width: 30px;
//  height: 30px;
//  margin-bottom: 23px;
//
//  @media (min-width: $tablet-width) {
//    width: 60px;
//    height: 60px;
//    margin-bottom: 49px;
//  }
//}
//
//.show-more-card__plus-icon::after {
//  position: absolute;
//  bottom: 50%;
//  transform: translateY(-50%) rotate(90deg);
//  content: "";
//  display: block;
//  width: 30px;
//  height: 2px;
//  background-color: $grey-color;
//
//  @media (min-width: $tablet-width) {
//    width: 60px;
//  }
//}
//
//.show-more-card__plus-icon::before {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translateX(-50%) translateY(-50%);
//  content: "";
//  display: block;
//  width: 30px;
//  height: 2px;
//  background-color: $grey-color;
//
//  @media (min-width: $tablet-width) {
//    width: 60px;
//  }
//}

.show-more-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    max-width: 136px;
  }


  @media (min-width: $desktop-width) {
    margin: 0 0 23px;
  }
}

.show-more-card__description {
  text-align: center;
  margin: 0 0 21px;

  @media (min-width: $tablet-width) {
    margin: 0 0 87px;
    line-height: 18px;
    max-width: 167px;
  }
}

.show-more-card__button {
  width: 280px;

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}
