//Colors
$basic-white: #ffffff;
$basic-black: #000000;
$special-dark-grey: #444444;
$brown-black: #222222;
$basic-grey: #f2f2f2;
$border-grey: #d9d9d9;
$border-input-hover: #cdcdcd;
$border-mobile-menu: #e6e6e6;
$catalog-border-color: #ebebeb;
$border-range: #cdcdcd;
$border-table: #cdcdcd;
$grey-color: #d3d3d3;
$border-radio-hover: #bababa;
$basic-green: #68b738;
$deep-green: #5eaa2f;
$border-input-focus: #444444;
$border-input-error: #ff8282;

//Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
